body{
    margin: 0;
}

#backgroung-img{
    height: 100px;
    background-image: url(../img/pattern.png);
    background-color: rgb(53, 91, 168);
    background-size: center;
}

#logo{
    width: 200px;
    height: 150px;
    position: absolute;
    left: 100px;
    top: 20px;
}

#info{
    color: gray;
}

#author{
    color: blue;
}

#info, #author{
    font-size: 20px;
}

#data{
    font-size: 15px;
}