body{
    margin: 0;
}

.align-center{
    width: 1080px;
    margin: 0 auto;
}

#backgroung-img{
    height: 100px;
    background-image: url(../img/pattern.png);
    background-color: rgb(53, 91, 168);
    background-size: 30%;
}


#logo{
    width: 200px;
    margin-top: 20px;
}


#info{
    color: gray;
}

#author{
    color: blue;
}

#info, #author{
    font-size: 20px;
}

#data{
    font-size: 15px;
}

figure{
    margin: 0;
}

.caption{
    font-size: 12px;
}

.evident{
    background-color: yellow;
}

/* table */

table{
    border-spacing: 0;
}

#cel-head{
    color: white;
    font-weight: 900;
    background-color: blue;

}

.cel-left{
    width: 20%;
}

.cel-center{
    width: 20%;
}

.cel-right{
    width: 60%;
}

#row2, #row4{
    background-color: lightskyblue;
}

.cel-important{
    background-color: lightskyblue;
}

/* more content */

#more{
    font-size: 20px;
    color: grey;
    margin-bottom: 20px;
}

.container-more{
    position: relative;
    height: 250px;
    width: 350px;
}   

.title-more{
    position: absolute;
    top: 10px;
    left:10px;
    font-weight: 900;
    font-size: 20px;
    color: white;
}